<% view_config = local_assigns[:view_config] || blacklight_config&.view_config(document_index_view_type) %>

<div id="documents" class="<%= (Array(view_config.classes) + ["documents-#{view_config.key}"]).join(' ') %>">
  <% document_presenters = Blacklight::VERSION > '8' ? documents.map { |document| document_presenter(document) }: documents %>
  <div class="grid">
    <%= render((view_config.preview_component || Blacklight::Gallery::SlideshowPreviewComponent).with_collection(document_presenters)) %>
  </div>

  <%= render layout: 'slideshow_modal' do %>
    <div id="slideshow" class="slideshow-presenter carousel slide">
      <!-- Wrapper for slides -->
      <div class="slideshow-inner carousel-inner">
        <%= render view_config.document_component.with_collection(document_presenters, counter_offset: @response&.start || 0) %>
      </div>

      <!-- Controls -->
      <button class="carousel-control-prev" data-bs-target="#slideshow" data-bs-slide="prev">
        <%= render Blacklight::Gallery::Icons::ChevronLeftComponent.new additional_options: { label_context: 'previous_image' } %>
      </button>
      <button class="carousel-control-next" data-bs-target="#slideshow" data-bs-slide="next">
        <%= render Blacklight::Gallery::Icons::ChevronRightComponent.new additional_options: { label_context: 'next_image' } %>
      </button>
    </div>
  <% end %>
</div>
