<%
  view_config = local_assigns[:view_config] || blacklight_config&.view_config(document_index_view_type)
  image = document.to_openseadragon(view_config)
  id_prefix = osd_html_id_prefix
%>
<%
  osd_config = {
    crossOriginPolicy: false,
    zoomInButton:     "#{id_prefix}-zoom-in",
    zoomOutButton:    "#{id_prefix}-zoom-out",
    homeButton:       "#{id_prefix}-home",
    fullPageButton:   "#{id_prefix}-full-page",
    nextButton:       "#{id_prefix}-next",
    previousButton:   "#{id_prefix}-previous"
  }

  osd_config_referencestrip = {
    showReferenceStrip:             true,
    referenceStripPosition:         'OUTSIDE',
    referenceStripScroll:           'vertical',
    referenceStripWidth:            100,
    referenceStripBackgroundColor:  'transparent'
  }
%>

<% unless image.nil? %>
  <% count = Array(image).length %>
  <div class="openseadragon-container <%= osd_container_class %>">
    <div class="osd-toolbar row">
      <div class="col-md-6 pagination">
        <% if count > 1 %>
          <% osd_config = osd_config_referencestrip.merge(osd_config) %>
            <a id="<%= id_prefix %>-previous"><%= render Blacklight::Gallery::Icons::ChevronLeftComponent.new %></a>
            <span id="<%= id_prefix %>-page">1</span>  of <%= count %>
            <a id="<%= id_prefix %>-next"><%= render Blacklight::Gallery::Icons::ChevronRightComponent.new  %></a>
        <% end %>
      </div>
      <div class="col-md-6 controls">
        <a id="<%= id_prefix %>-zoom-in"><%= render Blacklight::Gallery::Icons::AddCircleComponent.new %></a>
        <a id="<%= id_prefix %>-zoom-out"><%= render Blacklight::Gallery::Icons::RemoveCircleComponent.new %></a>
        <a id="<%= id_prefix %>-home"><%= render Blacklight::Gallery::Icons::ResizeSmallComponent.new %></a>
        <a id="<%= id_prefix %>-full-page"><%= render Blacklight::Gallery::Icons::CustomFullscreenComponent.new %></a>
      </div>
    </div>
    <%= openseadragon_picture_tag image, class: 'osd-image row', data: { openseadragon: osd_config } %>
  </div>

<% end %>
