<% image = document.to_openseadragon(blacklight_config.view_config(:show)) %>
<%
  osd_config = {
    crossOriginPolicy: false,
    zoomInButton:     "osd-zoom-in",
    zoomOutButton:    "osd-zoom-out",
    homeButton:       "osd-home",
    fullPageButton:   "osd-full-page",
    nextButton:       "osd-next",
    previousButton:   "osd-previous"
  }

  osd_config_referencestrip = {
    showReferenceStrip:             true,
    referenceStripPosition:         'OUTSIDE',
    referenceStripScroll:           'vertical',
    referenceStripWidth:            100,
    referenceStripBackgroundColor:  'transparent'
  }
%>

<% unless image.nil? %>
  <% count = Array(image).length %>
  <div class="openseadragon-container <%= osd_container_class %>">
    <div class="osd-toolbar row">
      <% if count > 1 %>
        <% osd_config = osd_config_referencestrip.merge(osd_config) %>

        <div class="col-md-6 pagination">
          <a id="osd-previous"><%= Blacklight::Icon.new('chevron_left').file_source %></a>'
          <span id="osd-page">1</span>  of <%= count %>
          <a id="osd-next"><%= Blacklight::Icon.new('chevron_right').file_source %></a>'
        </div>
      <% end %>
        <div class="col-md-6 controls">
          <a id="osd-zoom-in"><%= Blacklight::Icon.new('add_circle').file_source %></a>'
          <a id="osd-zoom-out"><%= Blacklight::Icon.new('remove_circle').file_source %></a>'
          <a id="osd-home"><%= Blacklight::Icon.new('resize_small').file_source %></a>'
          <a id="osd-full-page"><%= Blacklight::Icon.new('custom_fullscreen').file_source %></a>'
        </div>
    </div>
    <%= openseadragon_picture_tag image, class: 'osd-image row', data: { openseadragon: osd_config } %>
  </div>

<% end %>
