  <div id="slideshow" class="slideshow-presenter">
    <!-- Wrapper for slides -->
    <div class="slideshow-inner">
      <%= render collection: documents, as: :document, partial: 'index_slideshow', locals: {count: documents.count} %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control prev" href="#slideshow" data-slide="prev">
      <%= blacklight_icon 'chevron_left', { additional_options: { label_context: 'previous_image' }} %>
    </a>
    <a class="right carousel-control next" href="#slideshow" data-slide="next">
      <%= blacklight_icon 'chevron_right', { additional_options: { label_context: 'next_image' }} %>
    </a>

    <div class="controls text-center">
      <button class="btn btn-sm btn-link" data-behavior="pause-slideshow" aria-label="<%= t('blacklight_gallery.catalog.slideshow.pause') %>">
        <%= blacklight_icon 'pause_slideshow' %>
      </button>
      <button class="btn btn-sm btn-link" data-behavior="start-slideshow" aria-label="<%= t('blacklight_gallery.catalog.slideshow.start') %>">
        <%= blacklight_icon 'start_slideshow' %>
      </button>
    </div>
  </div>
